<div class="container">
    <div class="row row_content">
        <div class="col-lg-3">
            <div class="segment">
                <div class="segment_header">
                    <div class="login" [class.active]="currentPage === 'login'" (click)="show('login')">Login</div>
                    <div class="register" [class.active]="currentPage === 'register'" (click)="show('register')">
                        Register</div>
                </div>

                <div class="content mt-3" *ngIf="currentPage === 'login'">
                    <form [formGroup]="userLogin" >
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope-at"></i></span>
                            <input type="email" class="form-control" placeholder="Email" formControlName="email" aria-label="Email"
                                aria-describedby="basic-addon1">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-shield-lock"></i></span>
                            <input type="password" class="form-control" placeholder="Password" formControlName="password" aria-label="Password"
                                aria-describedby="basic-addon1">
                        </div>

                        <div class="login_btn">
                            <button>Login</button>
                        </div>

                    </form>
                </div>

                <div class="content mt-3" *ngIf="currentPage === 'register'">
                    <form>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-person"></i></span>
                            <input type="text" class="form-control" placeholder="Name" aria-label="Name"
                                aria-describedby="basic-addon1">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope-at"></i></span>
                            <input type="email" class="form-control" placeholder="Email" aria-label="Email"
                                aria-describedby="basic-addon1">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-shield-lock"></i></span>
                            <input type="password" class="form-control" placeholder="Password" aria-label="Password"
                                aria-describedby="basic-addon1">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-shield-lock"></i></span>
                            <input type="password" class="form-control" placeholder="Confirm Password" aria-label="Password"
                                aria-describedby="basic-addon1">
                        </div>

                        <div class="login_btn">
                            <button>Register</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>